<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Adam's Coffee Events</title>
    <meta name="theme-color" content="#004777" />
  </head>
  <body style="margin: 0 !important">
    <noscript>
      <strong>Thanks for blocking JS, but without it Vue doesn't work.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
