<template>
  <div v-if="events.length > 0" class="Events-List">
    <Event v-for="event in events"
    v-bind:key="event.id"
    v-bind:title="event.title"
    v-bind:description="event.description"
    v-bind:start_date="event.start_date"></Event>
  </div>
  <div v-else-if="!loading" class="Events-List">
    <h2 class="no-event">No upcoming events...</h2>
  </div>
  <div v-else class="Events-List">
    <h2 class="no-event">Loading..</h2>
  </div>
</template>


<script>
import Event from '@/components/Event.vue'
import EventsApi from '@/services/api/Events'
export default {
  name: 'EventsList',
  components: {
    Event
  },

  data () {
    return {
      loading: false,
      events: [
        {
          id: 0,
          title: "A cool coffee event",
          description: "This is what a coffee event would look like... if it weren't for covid!",
          start_date: "2022-01-01T09:00:00"
          }]
    }
  },
  created() {
    EventsApi.getUpcoming()
      .then(events => {
        this.events = events
      })
      .catch(error => console.log(error))
      .finally(() => {
        this.loading = false
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.Events-List {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;
  /*margin: 0 auto;*/
  /*border-color: var(--secondary-color-2);*/
}

.no-event {
  width: calc(90% - 1.5em - 15px);
  max-width: 500px;
  border: 5px solid;
  border-color: var(--secondary-color);
  text-align: left;
  margin: 1.5em auto;
  position: relative;
  padding: 15px 2em;
}
</style>
