<template>
  <div class="Event">
    <div class="Event-Header">
      <h3>{{ title }}</h3>
      <br>
      <p class='Event-Date'>{{ start_date | moment("calendar", null, { nextWeek: 'dddd [at] H:mm A', sameElse: 'MMM DD [at] H:mm A'}) }}</p>
    </div>
    <hr>
    <div class="Event-Body">
      <p v-html="description"></p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Event',
  props: {
    title: String,
    description: String,
    start_date: Date
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  font-size: 1.1em;
}
@media all and (min-width: 500px) {
  h3 {
    font-size: 1.5em;
    line-height: 15px;
    margin: auto 0;
  }
}

.Event-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: bottom;
  height: 30px;
}

.Event {
  width: calc(90% - 1.5em - 15px);
  max-width: 500px;
  border: 5px solid;
  border-color: var(--secondary-color);
  text-align: left;
  margin: 1.5em auto;
  position: relative;
  padding: 15px 2em;
}

</style>
