<template>
  <div class="footer">
    <h3>Smash that MF "Subscribe" button for notifications about upcoming events</h3>
  </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style scoped>
.footer {
  bottom:0;
  position: fixed;
  width: 90%;
  text-align: center;
  padding: 0 5%;
}
h3 {
  padding: 0 20px;
}
</style>
