<template>
  <div class="header">
    <div class="content">
      <div>
        <h1>{{ title }}</h1>
        <SubscribeButton />
      </div>
    </div>
  </div>
</template>

<script>
import SubscribeButton from '@/components/SubscribeButton.vue'

export default {
  name: 'Header',
  props: {
    title: String,
    icon: String
  },
  components: {
    SubscribeButton
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  color: var(--off-white);
  line-height: 40px;
  font-size: 1.5em;
  margin: 0;
  display: inline;
}
a {
  color: #42b983;
}

.header {
  width: 100%;
  background-color: var(--primary-color);
  text-align: left;
  position: fixed;
  top: 0;
  height: 40px;
  padding: 10px;
  z-index: 100;
}

.content {
  width: 90%;
  max-width: calc(500px + 4em);
  margin: 0 auto;
  padding: 0;
}

.SubscribeButton {
  margin: 0;
  height: 40px;
  line-height: 40px;
  float: right;
  display: inline-block;
  background-color: var(--button-color);
  color: #243342;
  border-radius: 10px;
}
</style>
