<template>
  <div class="SubscribeButton" v-on:click="toggleSubscription()">
    <h3>{{ this.text }}</h3>
  </div>
</template>

<script>
import SubscriptionsApi from '@/services/api/Subscriptions'
export default {
  name: 'SubscribeButton',
  methods: {
    toggleSubscription: function() {
      if (!this.subscription) {
        this.subscribe()
      } else {
        this.unsubscribe()
      }
    },

    subscribe: function() {
      console.log("subscribe")
      this.text = "Please wait..."
      window.navigator.serviceWorker.getRegistration().then((serviceWorker) => {
        if(serviceWorker) {
        SubscriptionsApi.subscribe(serviceWorker)
          .then((subscription) => {
            this.subscription = subscription
            this.text = "Success!"
          })
        } else {
          this.text = "Error - try reloading"
          console.log("no service worker")
        }
        });
    },

    unsubscribe: function () {
      console.log("unsubscribe")
      window.navigator.serviceWorker.getRegistration().then((serviceWorker) => {
        SubscriptionsApi.unsubscribe(serviceWorker)
          .then(() => { this.subscription = null })
          this.text = "Unsubscribed"
        });
    }
  },

  data() {
    return {
      subscription: null,
      text: "loading..."
    }
  },

  created() {
    window.navigator.serviceWorker.ready.then((serviceWorker) => {
      serviceWorker.pushManager.getSubscription()
        .then((subscription) => {
          this.subscription = subscription
          if (subscription) {
            this.text = "Unsubscribe"
          } else {
            this.text = "Subscribe"
          }
        })
        .catch(error => console.log(error))
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.SubscribeButton {
  text-align: center;
  color: black;
  cursor: pointer;
  margin: 0;
}
h3 {
  margin: auto 1em;
}
</style>
