<template>
  <div id="app">
    <Header title="Adam's Coffee" icon="./assets/coffee.png" />
    <EventsList />
    <Footer />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import EventsList from './components/EventsList.vue'
import Footer from './components/Footer.vue'

export default {
  name: 'app',
  components: {
    Header,
    EventsList,
    Footer
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #243342;

  width: 100%;

  --primary-color: #004777;
  --secondary-color: #004777;
  --button-color: #0cbaba;
  --off-white: #f4e6c6;

  background-color: var(--off-white);
/*
Colors from: http://paletton.com/#uid=3550y0kllllaFw0g0qFqFg0w0aF
.color-primary-0 { color: #822B66 }
.color-primary-1 { color: #C382AE }
.color-primary-2 { color: #A25188 }
.color-primary-3 { color: #611047 }
.color-primary-4 { color: #41002C }

.color-secondary-1-0 { color: #328A2E }
.color-secondary-1-1 { color: #8DCF8A }
.color-secondary-1-2 { color: #5AAC56 }
.color-secondary-1-3 { color: #156711 }
.color-secondary-1-4 { color: #034500 }

.color-secondary-2-0 { color: #AAA439 }
.color-secondary-2-1 { color: #FFFBAA }
.color-secondary-2-2 { color: #D4CF6A }
.color-secondary-2-3 { color: #807A15 }
.color-secondary-2-4 { color: #555100 }*/
}

body {
  background-color: #f4e6c6;
}
</style>
